<head>
  <meta charset="utf-8">
  <title>Transparent</title>
  <meta name="description" content="Transparent, the first audio recognition tool that serves a stream of content that follows your verbal conversation.">
  <meta name="keywords" content="Transparent">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="mobile-web-app-capable" content="yes">
  <meta property="og:title" content="Transparent">
  <meta property="og:site_name" content="Transparent">
  <meta property="og:description" content="Transparent, the first audio recognition tool that serves a stream of content that follows your verbal conversation.">
  <meta property="og:url" content="http://trnspt.com/">
  <meta property="og:image" content="https://res.cloudinary.com/negic/image/upload/v1520401274/og.png">
  <meta property="og:type" content="website">
  <link rel="shortcut icon" href="https://res.cloudinary.com/negic/image/upload/v1520401272/favicon.ico" type="image/x-icon">
  <link rel="canonical" href="http://trnspt.com/">

<!-- ↓↓↓　バックエンド編集分　↓↓↓ -->

  <!-- <link rel="stylesheet" href="./assets/css/app.css"> -->
  <%= stylesheet_link_tag    'front-a-grid', media: 'all', 'data-turbolinks-track': 'reload' %>

  <style rel="stylesheet">
    /* コメントカード */
    #transparent-container .keyword-area .media-container .post-keyword {
        border: 4px solid #f9c03c;
        background-color: #fff;
        color: #f9c03c;
        font-size: 30px;
        line-height: 1.4;
    }

    /* 画像コンテンツ */
    #transparent-container .keyword-area .media-container .post-media .txt {
        font-size: 12px;
        line-height: 1.4;
        color: #767676;
    }
  </style>

</head>
<body class="<%= @language_code[0, 2] %>">

<body class="ja">
  <div id="wrapper">
    <header id="global-header">
      <h1 id="logo" class="logo01">transparent</h1>
      <button id="btn-menu" class="btn-menu01 tap is-active">
        <div class="btn-inner"><span class="line line-1"></span><span class="line line-2"></span><span class="line line-3"></span></div>
      </button>
      <div id="btn-recording" class="btn-recording rec"><span class="r1">Recording</span><span class="r2">REC</span>
        <div class="loader"></div>
      </div>
      <p class="txt-recording"></p>
    </header>
    <div id="global-menu" class="is-active">
      <div class="inner">
        <form class="form-keyword">
          <p class="tit">Keyword Filtering</p>
          <input type="text" placeholder="Input Keyword" class="input-keyword">
          <button id="input-submit" class="input-submit">Submit</button>
        </form>
        <div class="keyword-list">
        </div>
        <div class="setting-btn-area">
          <p class="tit">Title / Description</p>
          <div id="txt-toggle" class="btn-toggle01 on-txt-hidden">
            <div class="toggle"><span class="on">On</span><span class="off">Off</span></div>
          </div>
        </div>
        <div class="setting-btn-area">
          <p class="tit">Comment Card</p>
          <div id="comment-toggle" class="btn-toggle01 on-card-hidden">
            <div class="toggle"><span class="on">On</span><span class="off">Off</span></div>
          </div>
        </div>
        <div class="setting-btn-area">
          <p class="tit">Media</p>
          <div id="on-switch-media" class="btn-toggle02 on-switch-media">
            <div id="btn-image" data-type="0" class="media photo is-active">Photo</div>
            <div id="btn-webpage" data-type="1" class="media news">News</div>
            <div id="btn-video" data-type="2" class="media movie">Movie</div>
          </div>
        </div>
      </div>
    </div>
    <div id="transparent-container" class="menu-is-active">
    </div>
  </div>

  <script>
    var TRANSCRIPTS = [];
  </script>

  <div id="warning">
      <h2 style="display:none">Speech Recognition SDK not found.</h1>
      <h2 style="display:none">Please execute <code>npm run bundle</code> and reload.</h2>
  </div>
  <div id="content" style="display:none">
  </div>

  <%= javascript_include_tag 'front-a-grid-manifest', 'data-turbolinks-track': 'reload'  %>

  <!-- load contents -->
  <script>
    var wallId = <%= @wall_id %>;
    var menuHidden = false;
    var textHidden = false;
    var commentHidden = false;
  </script>

  <!-- handle recording -->
  <script>
    var recBtn = document.getElementById("btn-recording");
    var uiVersion = 'alpha';
    languageCode = '<%= @language_code %>';
    key = '<%= @MS_ASR_KEY %>';
  </script>

</body>
