<head>
  <meta charset="utf-8">
  <title>Transparent</title>
  <meta name="description" content="Transparent, the first audio recognition tool that serves a stream of content that follows your verbal conversation.">
  <meta name="keywords" content="Transparent">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="mobile-web-app-capable" content="yes">
  <meta property="og:title" content="Transparent">
  <meta property="og:site_name" content="Transparent">
  <meta property="og:description" content="Transparent, the first audio recognition tool that serves a stream of content that follows your verbal conversation.">
  <meta property="og:url" content="http://trnspt.com/">
  <meta property="og:image" content="https://res.cloudinary.com/negic/image/upload/v1520401274/og.png">
  <meta property="og:type" content="website">
  <link rel="shortcut icon" href="https://res.cloudinary.com/negic/image/upload/v1520401272/favicon.ico" type="image/x-icon">
  <link rel="canonical" href="http://trnspt.com/">


<!-- ↓↓↓　バックエンド編集分　↓↓↓ -->

  <!-- <link rel="stylesheet" href="./assets/css/app.css"> -->
  <%= stylesheet_link_tag    'front-alpha', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body class="<%= @language_code[0, 2] %>">

<!-- ↑↑↑　バックエンド編集分 ↑↑↑　-->

<body class="ja">
  <div id="wrapper">
    <header id="global-header">
      <h1 id="logo" class="logo01">transparent</h1>
      <button class="btn-menu01 tap is-active">
        <div class="btn-inner"><span class="line line-1"></span><span class="line line-2"></span><span class="line line-3"></span></div>
      </button>
      <div id="btn-recording" class="btn-recording rec"><span class="r1">Recording</span><span class="r2">REC</span></div>
      <p class="txt-recording"></p>
    </header>
    <div id="global-menu" class="is-active">
      <form class="form-keyword">
        <p class="tit">Keyword Filtering</p>
        <input type="text" placeholder="Input Keyword" class="input-keyword">
        <button id="input-submit" class="input-submit">SUBMIT</button>
      </form>
      <div class="keyword-list">
      </div>
      <div class="setting-btn-area">
        <p class="tit">Title / Description</p>
        <div class="btn-toggle01 on-txt-hidden">
          <div class="toggle"><span class="on">On</span><span class="off">Off</span></div>
        </div>
      </div>
      <div class="setting-btn-area">
        <p class="tit">Comment Card</p>
        <div class="btn-toggle01 on-card-hidden">
          <div class="toggle"><span class="on">On</span><span class="off">Off</span></div>
        </div>
      </div>
      <div class="setting-btn-area">
        <p class="tit">Media</p>
        <div id="on-switch-media" class="btn-toggle02 on-switch-media">
          <div data-type="0" class="media photo is-active">Photo</div>
          <div data-type="1" class="media news">News</div>
          <div data-type="2" class="media movie">Movie</div>
        </div>
      </div>
    </div>
    <div id="transparent-container" class="menu-is-active">
    </div>
  </div>

  <script>
    var TRANSCRIPTS = [];
  </script>

  <!-- ↓↓↓　バックエンド編集分　↓↓↓ -->

  <div id="warning">
      <h2 style="display:none">Speech Recognition SDK not found.</h1>
      <h2 style="display:none">Please execute <code>npm run bundle</code> and reload.</h2>
  </div>
  <div id="content" style="display:none">
  </div>

  <%= javascript_include_tag 'front-alpha-manifest', 'data-turbolinks-track': 'reload'  %>

  <script>
    var wall_id = <%= @wall_id %>;
    var searches = [];
    var related_contents = [];
    var search_last_index;
    var search_first_index;
    var related_content_last_index;

    function fetchContents(){
      var instance = axios.create({
        baseURL: '/api',
        headers: {
          'ContentType': 'application/json'
        },
        responseType: 'json'
      });
      instance.get('/transcripts/' + wall_id ).then(function (response){

        searches = response.data.searches;
        related_contents = response.data.related_contents;
        search_last_index = response.data.search_last_index;
        search_first_index = response.data.search_first_index;
        related_content_last_index = response.data.related_content_last_index;

        TRANSCRIPTS.appendContents({ searches, related_contents });

      }, function (error) {
        console.log(error);
      }).then(function (response){
        loadContents();
      });
    }

    function loadContents(){
      var instance = axios.create({
        baseURL: '/api',
        headers: {
          'ContentType': 'application/json'
        },
        responseType: 'json'
      });
      console.log('send req with index : ' + search_last_index + ', ' + related_content_last_index);
      instance.get('/transcripts/' + wall_id + '/' + search_last_index + '/' + related_content_last_index ).then(function (response){
        console.log(response.data);

        searches = response.data.searches;
        related_contents = response.data.related_contents;
        search_last_index = response.data.search_last_index;
        related_content_last_index = response.data.related_content_last_index;

        TRANSCRIPTS.prependContents({ searches, related_contents });
        TRANSCRIPTS.addContents(related_contents);

      }, function (error) {
        console.log(error);
      }).then(function (response){
        loadContents();
      });

    }

    function loadPastContents(){
      var instance = axios.create({
        baseURL: '/api',
        headers: {
          'ContentType': 'application/json'
        },
        responseType: 'json'
      });
      instance.get('/transcripts/' + wall_id + '/' + search_first_index).then(function (response){

        searches = response.data.searches;
        related_contents = response.data.related_contents;
        search_first_index = response.data.search_first_index;

        TRANSCRIPTS.appendContents({ searches, related_contents });

      }, function (error) {
        console.log(error);
      });

    }

    window.addEventListener('load', function() {
        fetchContents();
    }, false);

  </script>

  <!-- ↑↑↑　バックエンド編集分 ↑↑↑　-->

  <script>
    document.getElementById('logo').addEventListener('click', function() {
        TRANSCRIPTS.prependContents({ searches, related_contents });
    }, false);

    // document.getElementById('btn-recording').addEventListener('click', function() {
    //
    //     // テキストの設定
    //     TRANSCRIPTS.setRecordingText('text text text text');
    //
    //     // レコーディングボタンのON/OFF
    //     TRANSCRIPTS.toggleRecordhing();
    //
    //     // レコーディング中かの取得
    //     console.log(TRANSCRIPTS.getRecordingStatus());
    // }, false);

    document.getElementById('input-submit').addEventListener('click', function() {
        setTimeout(function() {

            // 検索キーワードの取得
            console.log(TRANSCRIPTS.getKeywords());
        });
    }, false);

    document.getElementById('on-switch-media').addEventListener('click', function() {
        setTimeout(function() {

            // メディアのタイプの取得
            console.log(TRANSCRIPTS.getMediaType());
        });
    }, false);

    $('#wrapper').on('click', '#transparent-container .btn-close02', function(event) {
        setTimeout(function() {

            search_id = $(event.currentTarget).closest('.grid-item').attr('data-searchId')
            related_content_id = $(event.currentTarget).closest('.grid-item').attr('data-relatedContentId')

            if (related_content_id){

                var instance = axios.create({
                  baseURL: '/api',
                  headers: {'ContentType': 'application/json'},
                  responseType: 'json'
                });
                instance.get('/update/contents/' + related_content_id).then(function (response){
                  console.log("relatedContentId: ", related_content_id);
                }, function (error) {
                  console.log(error);
                });

            } else {

                var instance = axios.create({
                  baseURL: '/api',
                  headers: {'ContentType': 'application/json'},
                  responseType: 'json'
                });
                instance.get('/update/searches/' + search_id).then(function (response){
                  console.log("relatedContentId: ", search_id);
                }, function (error) {
                  console.log(error);
                });

            }


        }, 100);
    });

    window.addEventListener('scroll', function() {

        // スクロールが下部に来たらtrueを返します
        console.log(TRANSCRIPTS.getScrollBottomPosition());

        if (TRANSCRIPTS.getScrollBottomPosition()) {
         loadPastContents();
        };

    }, false);
    
  </script>

  <!-- ここから　藤森追加部分 -->

  <!-- Browser Hooks -->
  <script>
      var recBtn;
      var key, languageOptions, formatOptions, recognitionMode, inputSource, filePicker;
      var SDK;
      var recognizer;
      var previousSubscriptionKey;
      var result;
      var timeout_counter = 0;
      var recognize_counter = 0;
      var language_code = '<%= @language_code %>';
      // var isActive = false; // セッションアラート対策

      document.addEventListener("DOMContentLoaded", function () {
          recBtn = document.getElementById("btn-recording");

          key = '<%= @MS_ASR_KEY %>';
          languageOptions = language_code;
          formatOptions = "Simple";
          inputSource = "Mic";
          recognitionMode = "Conversation";

          recBtn.addEventListener("click", function () {

            if (TRANSCRIPTS.getRecordingStatus()){

              killMic();

            } else {

              activateMic();

            }

            TRANSCRIPTS.toggleRecordhing();

          });

          Initialize(function (speechSdk) {
              SDK = speechSdk;
          });

      });

      function sleepByPromise(sec) {
           return new Promise(resolve => setTimeout(resolve, sec*1000));
       }

      function postTranscript(text) {
        var FacebookID = 'guest_x';
        var post_url = '/api/transcripts';
        var with_words = TRANSCRIPTS.getKeywords();
        var search_type = TRANSCRIPTS.getMediaType();
        var UI_version = 'alpha';

        var body = {
                'transcript' : text,
                'FacebookID' :  FacebookID,
                'langcode' : language_code,
                'wallID' : wall_id,
                'clientID' : FacebookID,
                'search_type' : search_type,
                'with_words' : with_words,
                'UI_version' : UI_version
            };

        console.log(body)

        var xmlHttp = new XMLHttpRequest();

        xmlHttp.open("POST", post_url);
        xmlHttp.setRequestHeader( 'Content-Type', 'application/json' )
        xmlHttp.onreadystatechange = async function() {

            await sleepByPromise(2)
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
              TRANSCRIPTS.setRecordingText('');
            }

        };
        xmlHttp.send(JSON.stringify(body));
        console.log(xmlHttp.response);

      }

      function Setup() {
          if (recognizer != null) {
              RecognizerStop(SDK, recognizer);
          }
          recognizer = RecognizerSetup(SDK, recognitionMode, languageOptions, SDK.SpeechResultFormat[formatOptions], key);
      }

      function UpdateStatus(status) {
          console.log(status);
      }

      function OnSpeechEndDetected() {
          // stopBtn.disabled = true;
      }

      function UpdateRecognizedPhrase(json) {
        console.log('UpdateRecognizedPhrase');
        console.log(json)

          if(json.RecognitionStatus == "Success"){

            result = json.DisplayText;
            TRANSCRIPTS.setRecordingText(result);

            postTranscript(json.DisplayText)
            console.log(JSON.stringify(json));
            timeout_counter = 0;
            recognize_counter += 1;
            if (recognize_counter == 240){

              errorHandler();
              killMic();

            }

          } else if(json.RecognitionStatus == "InitialSilenceTimeout"){

            timeout_counter += 1;
            recognize_counter += 1;
            console.log('15 seconds silense Timeout');
            console.log('Timeout Counter : '+timeout_counter);
            console.log('Timeout Counter : '+recognize_counter);

            if (timeout_counter == 24){

              errorHandler();

            } else {

              if (TRANSCRIPTS.getRecordingStatus()){ activateMic(); }

            }

          } else {

            console.log('No transcript');
            console.log(JSON.stringify(json));

          }
      }

      function OnComplete() {
          // startBtn.disabled = false;
          // stopBtn.disabled = true;
      }

      function activateMic() {
        console.log('activate Mic')
        if (!recognizer) {
            Setup();
        }
        isActive = true;
        // TRANSCRIPTS.toggleRecordhing();
        RecognizerStart(SDK, recognizer);
      }

      function killMic() {
        console.log('kill Mic')
        isActive = false;
        // TRANSCRIPTS.toggleRecordhing();
        RecognizerStop(SDK, recognizer);
      }

      function errorHandler() {
        alert("Session Timeout. Please Restart.");
        killMic();
      }
  </script>

</body>
