header#global-header

    div.inner
        h1
            a.logo01(href="#{constant.BASE_URL}") #{constant.BASE_TITLE}

        //- button.btn-menu01.tap
        //-     div.btn-inner
        //-         span.line.line-1
        //-         span.line.line-2
        //-         span.line.line-3

        div.header-share
            p.tit01 SHARE ON

            ul.share-list01
                li.share-list-item
                    a.ico-facebook02.tap(href="//fb.com/share.php?u=#{encodeURIComponent(constant.BASE_URL)}" target="_blank") facebook
                li.share-list-item
                    a.ico-twitter02.tap(href="//twitter.com/intent/tweet?original_referer=#{encodeURIComponent(constant.BASE_URL)}&text=#{encodeURIComponent(constant.TWITTER.tweet)}" target="_blank") twitter
        //- div.menu01
        //-     //- nav#gnav
        //-     //-     ul.gnav-list
        //-     //-         li.gnav-list-item
        //-     //-             a.tap(href="#").item01 ABOUT
        //-     //-         li.gnav-list-item
        //-     //-             a.tap(href="#").item02 TRUST LINK
        //-     //-         li.gnav-list-item
        //-     //-             a.tap(href="#").item03 PRODUCT
        //-     //-         li.gnav-list-item
        //-     //-             a.tap(href="#").item04 COMPANY
        //- 
        //-     div.header-share
        //-         p.tit01 SHARE ON
        //- 
        //-         ul.share-list01
        //-             li.share-list-item
        //-                 a.ico-facebook01.tap(href="#" target="_blank") facebook
        //-             li.share-list-item
        //-                 a.ico-twitter01.tap(href="#" target="_blank") twitter
